$primary: gray
$secondary: white
$complement: black

*
  box-sizing: border-box

body
  padding: 0
  margin: 0
  display: flex
  flex-wrap: wrap
  height: 100vh
  background-color: $primary
  overflow: hidden
  .sections
    background-color: $primary
    min-width: 50px
    width: 5%
  .works
    background-color: $secondary
    min-width: 300px
    width: 25%
  .tasks
    background-color: $complement
    min-width: 300px
    width: 70%


.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  scroll-behavior: smooth
  overflow-y: visible
